

.cabeza{
    display:flex;
}

div nav ul{
    display:flex;
    list-style:none;
    
}

div nav ul li{
    background-color: bisque;
    margin: 10px;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
}