<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
</head>
<body>
    <h1>Formulario de Contacto</h1>
<form action="/guardar" method="POST">
    
    <input type="number" name="dni" placeholder="Dni">
    <input type="text" name="nombre" placeholder="Nombre">
    <input type="text" name="puesto" placeholder="puesto">
    <input type="text" name="salario" placeholder="salario">
    <button type="submit"> Enviar </button>







</form>

</body>
</html>